<link rel="stylesheet" type="text/css" href="/css/form.css">
<%- include('../header'); %>
<section>
    <article class="options">
        <h2>Editar Música</h2>
        <% if (typeof message !== 'undefined') { %>
            <p id="message"><%= message %></p>
        <% } %>
    </article>
    <article class="edit-music-form">
        <form action="/admin/music/edit/<%= music.id %>" method="POST">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" value="<%= music.title %>" required>
            </div>
            <div class="form-group">
                <label for="author">Autor</label>
                <input type="text" id="author" name="author" value="<%= music.author %>" required>
            </div>
            <div class="form-group">
                <label for="lyrics">Letra</label>
                <textarea id="lyrics" name="lyrics" rows="10" required><%= music.lyrics %></textarea>
            </div>
            <div class="form-group">
                <label for="youtube_link">Link do Youtube</label>
                <input type="url" id="youtube_link" name="youtube_link" value="<%= music.youtube_link %>">
            </div>
            <button type="submit" class="btn-submit">Confirmar alterações</button>
        </form>
    </article>
</section>
<%- include('../footer'); %>